# Let talk to Python
# Math

In [4]:
10 + 3

13

In [7]:
30 - 4 * 7

2

### Tupe (ống)

In [5]:
mytuple = ("banana", "cherry", "apple")

In [6]:
mytuple[0]

'banana'

In [7]:
mylist = ["banana", "cherry", "apple"]

In [8]:
mylist[2] = "New apple"

In [9]:
mylist

['banana', 'cherry', 'New apple']

In [10]:
mytuple[2] = "New apple"

TypeError: 'tuple' object does not support item assignment

In [11]:
mytuple2 = ("Item1", "Item2", ["LI 1", "LI2", "LI3"])

In [13]:
mytuple2[2][2] = "List Item3"

In [15]:
mytuple2

('Item1', 'Item2', ['LI 1', 'LI2', 'List Item3'])

### Set (Tập hợp)

In [20]:
myset = {"banana", "cherry", "apple", "apple"}

In [23]:
print(myset)

{'apple', 'banana', 'cherry'}

In [24]:
mylist = ["banana", "cherry", "apple", "apple" ]

In [25]:
print(mylist)

['banana', 'cherry', 'apple', 'apple']

In [26]:
myset[1]

TypeError: 'set' object is not subscriptable

In [27]:
myset.add("Minh Bon")

In [28]:
myset

{'Minh Bon', 'apple', 'banana', 'cherry'}

In [29]:
len(mylist)

4

In [30]:
len(mytuple)

3

In [31]:
len(myset)

4

** Bài tập **

In [32]:
student_name = ["mark", "John", "Nam", "Brock", "Minh Bon", "John"]

In [34]:
myset = set(student_name)

In [35]:
print(myset)

{'Nam', 'Brock', 'John', 'mark', 'Minh Bon'}

In [36]:
len(student_name) == len(myset)

False

### Dictionary (Từ điển)
Khai báo: thisdict =

In [37]:
thisdict = {"key1":"Value1", "key2":"Value2"}

In [38]:
print(thisdict)

{'key1': 'Value1', 'key2': 'Value2'}

In [39]:
thisdict["key2"]

'Value2'

In [40]:
len(thisdict)

2

# Logic (Control flow - Luồng điều khiển)
If statement (Câu lệnh If)

## Loops (Vòng lặp)
### Counting loops (Lặp đếm)
- for Statement
- Syntax:

In [53]:
my_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
print(my_numbers[0] ** 2)

1

In [57]:
for item in my_numbers: 
    print(item ** 2)

1
4
9
16
25
36
49
64
81
100

#### Conditional loops (Lặp điều khiển)
- ``while Statememt``

In [ ]:
count = 0 
while count < 4:
    print("The count is:", count)
    count =  count +1

## Functions (hàm số)
Function's signature
- function name - tên hàm
- function parameters - tham số của hàm
````my function(param1, param2, ...)````

In [ ]:
def say_hello():
    print("hello world")

In [ ]:
say_hello()

## Function output

In [ ]:
my_mu = doubles(14)

## Input

In [1]:
name = input()

Phuong

In [2]:
name

'Phuong'

In [3]:
name = input("Nhap vao ten cua ban:")

Nhap vao ten cua ban:Phuong

In [4]:
name

'Phuong'

In [5]:
my_number = int(input("Nhap vao mot so: "))

Nhap vao mot so:9

In [6]:
my_number

'9'

In [7]:
type(my_number)

str

In [9]:
type(my_number)

str

In [12]:
def hello_there():
    name = input("What is your name? ")
    print("hello", name, "how are you today? ")

In [13]:
hello_there()

What is your name?
hello  how are you today?

## Modules (Thư viện)

In [14]:
import random as rd

In [16]:
random.randint(1, 100)

77

In [19]:
import time

In [20]:
time.tzname

('+07', '+07')

In [26]:
import calendar as ca

In [27]:
ca.prmonth(2022, 11)

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [28]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.5.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 1.4 MB/s
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.20.3 in /opt/tljh/user/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.1

## Create a module (Tạo một module)

In [ ]:
import mymodule as mm

In [ ]:
mm.welcom("Phuong")

In [ ]:
%reload_ext autoreload
%autoreload 2

In [6]:
dn.mydiv(10, 3)

NameError: name 'dn' is not defined

In [7]:
sg.play_game3()

NameError: name 'sg' is not defined